


/* -- items -- */
.items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    min-width: 300px;
    margin-bottom: 50px;
}

.quantityLow {
    background-color: lightyellow;
}

.quantityEmpty {
    background-color: lightcoral;
}